@charset "utf-8";

body {
  background:white;
  margin:0;
}

header{display:flex;
background:white;
/* margin:0; */
align-items:center;
justify-content:space-between;
padding:16px;
}

h1{margin:0;
size:0;}

h2{margin:0;
font-weight:normal;}

p{margin:0;}

section{ background:lightskyblue;
background-image: url(bg.png);
}

.download{
background:green;
color:white;
padding:8px 16px;
border-radius:8px;
text-decoration:none;
display:inline-block;

}

